.search-results-page {
    background-color: black;
    background-image: url(../images/letters.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 300vh;
    margin-top: -5px;
    padding-top: 20px;
}

.search-result-item {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    vertical-align: center;
    margin-top: 5px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wbdv-white-font {
    color: white;
}
